<h3><%= @article.title %></h3>
<p><%= @article.content%></p>
<%= link_to "Back", root_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_article_path, class: "btn btn-default" %>
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"  %>
