<!DOCTYPE html>
<html>
  <head>
    <title>Wiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background: rgb(191, 233, 239)">
      <div class="container">
        <%= link_to "WIKI", root_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav navbar-right"><% if user_signed_in? %>
          <li><%= link_to "New Article", new_article_path %></li><%end%></ul>
      </div>
    </nav>
  
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item"><%= link_to "All Articles", root_path %></li>
            <% Category.all.each do |category| %>
              <li class="list-group-item"><%= link_to category.name, articles_path(category: category.name) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand">Fixed bottom</a>
</nav>
  </body>
</html>