<!DOCTYPE html>
<html>
  <head>
    <title>Wiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar"> 
      <nav class="nav navbar navbar-default">
        <a class="navbar-brand" ><h2><%= link_to "WIKI", root_path %></h2></a>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <ul>
        <li><%= link_to "All Articles", root_path %></li>
        <% Category.all.each do |category| %>
          <li><%= link_to category.name, articles_path(category: category.name) %></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
